body {
  padding-top: 10px;
  padding-bottom: 20px;
}

.table {
    margin-bottom: 2px;
}

.table td {
    font-size: 12px;
    padding: 0px;   
    margin-top: 3px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.table-signets td {
    height: 50px;
    padding-right: 2px;
}

.table-signets td img {
    min-width: 31px;
}

.signet-description {
    width: 100%;
}

.statvalue {
    font-weight: bold;
    color: green;
    min-width: 50px;
}

.statname {
    width: 200px;
}

.table-stats td {
    font-size: 12px;
    padding: 0px;   
}

.table-stats th {
    padding: 5px 5px 5px 0px;   
}

select {
    font-size: 12px;
    width: auto;
    height:auto;   
    margin-top: 3px;
    margin-bottom: 3px;
}

.qlbuttons {
    margin-left: 5px;
    padding: 2px;
}

.glyphbuttons {
    margin-left: 5px;
    padding: 2px;
}

div .slot {
    margin-bottom: 15px;
    background-color: #f5f5f5;
    padding:5px;
    border-radius: 8px;
}

.slot h4 {
    padding: 0px;
    display: inline;
}

#export-textarea {
  resize: none;
}

