body {
  padding-top: 10px;
  padding-bottom: 20px;
}

.table-glyphs {

}

.table-glyphs td {
    font-size: 12px;
    padding: 0px;
}

.table-slots td {
    font-size: 12px;
    padding: 0px;   
}

.statvalue {
    font-weight: bold;
    color: green;
    min-width: 50px;
}

.table-stats {

}

.table-stats td {
    font-size: 12px;
    padding: 0px;   
}

.select-glyph {
    font-size: 12px;
    width: auto;
    height:auto;
}

.select-role {
    font-size: 12px;
    width: auto;
    height:auto;
}

.select-ql {
    font-size: 12px;
    width: auto;
    height:auto;   
}

.qlbuttons {
    margin-left: 5px;
    padding: 2px;
}

.glyphbuttons {
    margin-left: 5px;
    padding: 2px;
}

.slot {
    display: inline;
}

#export-textarea {
  resize: none;
}